*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 255, 255, 0.349);
}
.animate__animated.animate__fadeInUp{
    text-align: center;
    font-size: 70px;
    color: rgb(238, 135, 238);
    font-style: italic;
    font-family: 'Dancing Script', cursive;
    font-style: bolder;
}

/*aca arranca prueba*/
.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: #333;
	font-family: sans-serif;
}
body {
	overflow-x: hidden;
}
.flex-item {
	flex-grow: 1;
	margin: 20px;
	max-width: 300px;
	border: 2px solid #333;
	padding: 0 20px;
}
.flex-item:hover {
	border-color: skyblue;
	box-shadow: 0px 0px 30px skyblue;
}
.flex-item:focus {
	border-color: skyblue;
	box-shadow: 0px 0px 30px skyblue;
}
h2,h3 {
	margin: 0;
}
h3 {
	color: #999
}
p b {
	color: skyblue;
}
.producto-img {
	width: 250px;
	
}
form {
	width: 100%;
	text-align: center;
	padding: 50px;
}
input[type="submit"]{
	background: royalblue;
	color: #fff;
	border: none;
	padding: 12px 36px;
	font-size: 17px;
	letter-spacing: 1px
}

/*Aca termina prueba */